
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}



.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    display: inline;
    margin-right: 10px;
}

.footer-social ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
}
.kool {
    color: #ffd404;
}