

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

.form   {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px; /* Adjust the gap between items as needed */
}


.form-container {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 212, 4);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.sign-up-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.personal-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}


.other-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

input {
  border: 2px solid rgb(4 , 47 , 255);
  border-radius: 5px;
}

input:focus {
  border: 3px solid rgb(4 , 47 , 255);
}
.img {
  margin-top: 5px;
margin-left: 5px;
}
.bell{
  margin-left: 500px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.looking-for-pleasure {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.book-table-btn {
  margin-bottom: 20px;
}

.img-container {
  margin-bottom: 20px;
}

.big-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.restaurant-info {
  max-width: 600px;
  margin: 0 auto;
}

.restaurant-info h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.restaurant-info p {
  font-size: 18px;
  margin-bottom: 20px;
}

